body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #FFFFCC;
}

.owned
{
    background-color: #FFA500;
}

.ownedOther
{
    background-color: #FF0000;
}

.free
{
    background-color: #008000;
}